.measure-tooltip {
  position: relative;
  border-radius: 4px;
  padding: 4px 8px;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  background: #ffcc33;
  color: black;
  border: 1px solid white;
  font-size: medium;
}
